@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

GRUPO DINAMIZA

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #000;
$background: #f2f2f2;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	.moduletable_to1 {
		padding: 18px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			#responsive-menu {
				ul.menu {
					background-color: transparent;
					li {
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-item {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 0 28px;
							font-size: 14px;
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	padding-top: 90px;
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1.title_home {
		font-size: 32px;
	}
	p {
		margin: 0;
		font-size: 18px;
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	.moduletable_b11 {
		h3 {
			font: {
				size: 42px;
				weight: bold;
			}
		}
		p {
			font-size: 18px;
		}
	}
}

/* Block 2 */

.block_2 {
	.moduletable_b21 {
		.part-1 {
			background: {
				image: url(part-1_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			h3 {
				margin: 140px 0;
				font: {
					size: 60px;
					weight: bold;
				}
				color: #fff;
			}
		}
		.part-2 {
			padding: 20px 10px;
			background-color: $background;
			p {
				margin-bottom: 10px;
				button.button {
					min-width: 340px;
					margin: 0;
					padding: 5px 20px;
					border-color: $border;
					font-size: 18px;
					color: $primary_color;
					text-align: left;
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		.part-3 {
			padding: 60px;
			background-color: $background;
			p {
				font-size: 24px;
				&:last-child {
					margin: 0;
				}
			}
		}
		.part-4 {
			padding: 20px;
			background: {
				image: url(part-4_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			h3 {
				font: {
					size: 60px;
					weight: bold;
				}
				color: #fff;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		h3 {
			margin-bottom: 40px;
			font: {
				size: 32px;
				weight: bold;
			}
		}
		p {
			font-size: 18px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					margin-bottom: 10px;
					text-align: center;
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						display: block;
						li {
							background: none;
							a {
								padding-bottom: 10px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}